.right-container{
    position: absolute;
    top: 100px;
    right: 16px;
    font-size: 18px;
    left: 500px
  }
  
  .right-container label{
    width: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  
  .right-container input{
    border: 3px solid rgb(128, 70, 27);
    font-size: 14px;
    font-weight: 300;
  }
  