html{background-color: tan;
}
.img{
  padding:25px
}
.nav-menu{
background-color: #5C4033;
min-height: 32px;
}
.nav-menu a{
  display: inline-block;
  color: tan;
  text-align: right;
  padding: 25px;
  font-size: 17px;
  border-radius: 100px;
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
.h1{
=======
h1{
>>>>>>> Stashed changes
=======
h1{
>>>>>>> Stashed changes
  color: #5C4033;
  text-align: center;
}
.login-form {
  margin: auto;
  width: 22%;
  border: none;
  padding: 20px;
}
.username{
  border-style: solid;
  width: 50%;
  border-color: #5C4033;
}
.password{
  border-style: solid;
  border-width: 2px;
  border-color: #5C4033;
  margin:0;
}

<<<<<<< Updated upstream
=======
.img-reading{
  width: 50%;
  float: left;
}
>>>>>>> Stashed changes
.button{
    background-color: #5C4033;
    padding: 12px;
    font-size: 1.6em;
    color: tan;
    width: 100px;
}
.container{
  height: 60px;
  position: relative;
  border: 3px tan; 
}
.centering-button{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
}

.footer{
  background-color:rgb(92, 64, 51);
  height: 200px;
  margin-top: 600px;
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}